<% if session[:player_name]%>
  <h2><%= session[:player_name]%>, welcome to the Blackjack game!</h2>
  <br/>
  <a href="/game" class='btn btn-info'/>Game Start</a>
<% else %>
  <h2>Welcome to the Blackjack game!</h2>
  <br/>
  <h4>Please input your name</h4>
  <form action='/set_name' method='post'>
    <input type='text' name='player_name'/>
    <br/>
    <input type='submit' class='btn'/>
  </form>
<% end%>
