h2 {
  color:#069;
}

form#hit_form {
  float: left;
  margin-right: 10px;
}

form#hit_form {
  float: left;
  margin-bottom: 10px;
}

form#stay_form {
  float: left;
}

img.card_image {
  margin-right: 10px;
  width: 100px;
}